streamlit>=1.32.0
pydantic>=2.5.0
python-dotenv>=1.0.1

# LangChain + Groq integration
langchain>=0.1.15
langchain-groq>=0.0.2

# Embeddings + Vector DB
sentence-transformers>=2.5.1
chromadb==0.4.15

# PDF loader
pypdf>=3.17.4

# Sentiment analysis
vaderSentiment>=3.3.2

langchain
langchain-community
langchain-groq
streamlit
pydantic
python-dotenv
chromadb
sentence-transformers
vaderSentiment
nltk
