# Core
streamlit==1.32.0
python-dotenv==1.0.1
pydantic==2.5.0

# LangChain ecosystem
langchain==0.3.7
langchain-community==0.3.27
langchain-groq==0.0.2

# Embeddings + Vector DB
sentence-transformers==3.0.1
faiss-cpu==1.7.4
chromadb==0.5.5

# PDF loader
pypdf==4.2.0

# Sentiment analysis
vaderSentiment==3.3.2
nltk==3.9.1
